GEMINI_API_KEY=
GEMINI_MODEL=
MONGO_URL=mongodb://localhost:27017
SERVER_TOKEN_KEY=
CLIENT_BASE_URL=http://localhost:3000
STRAVA_CLIENT_ID=
STRAVA_CLIENT_SECRET=
FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
APP_ENV=development
